.card{
    width:260px;
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    color:white;
    transition:.4s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}