<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>
OPERACORE | Dashboard 3D
</title>


<link rel="stylesheet" href="/static/css/dashboard.css">


<script src="
https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js">
</script>


<script src="
https://cdn.jsdelivr.net/npm/three@0.128/examples/js/controls/OrbitControls.js">
</script>


<script src="
https://cdn.jsdelivr.net/npm/three@0.128/examples/js/loaders/GLTFLoader.js">
</script>


</head>


<body>


<header>

<h1>
⚙ OPERACORE
</h1>

<p>
Sistema Inteligente de Mantenimiento Industrial
</p>


</header>



<div class="container">


<div class="panel">


<h2>
Máquinas
</h2>


<div id="listaMaquinas">

</div>


</div>




<div class="visor">


<div id="modelo3d"></div>


<div class="info">


<h2 id="nombre">
Seleccione una máquina
</h2>


<p>
Estado:
<span id="estado">
-
</span>
</p>


<p>
Modelo:
<span id="modelo">
-
</span>
</p>


<p>
MTBF:
<span id="mtbf">
-
</span>
</p>


<p>
MTTR:
<span id="mttr">
-
</span>
</p>


</div>



</div>



</div>



<script src="/static/js/maquina3d.js"></script>


</body>


</html>