{% extends "base.html" %}
{% block title %}Crear Tipo de Falla{% endblock %}

{% block content %}
<div class="container">
    <h2>Crear Tipo de Falla</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
{% endblock %}