SECRET_KEY=cambia-esto-por-una-llave-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DB_ENGINE=sqlite3 para arrancar rapido sin instalar MySQL
DB_ENGINE=mysql
DB_NAME=operacore
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
